::-webkit-input-placeholder { /* Edge */
  color: red;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: red;
}

::placeholder {
  color: red;
}
#page{
    height: 100%;
    height: 100vh;
    margin-left: 15px;
    margin-right: 15px;

}
.loged-container{
	max-width: 375px;
	width:100%;
    margin: auto;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.opt > div{
	font-size: 4em;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);

}

.tri-header{
	height: auto;
	min-height: 100px;
    width: 100%;
    position: relative;
    text-align: center;
    }
.tri-body{height: 400px;
    width: 100%;
    text-align: center;
    padding-top: 2px;
    }
.tri-footer {
    height: auto;
    width: 100%;
    
    text-align: center;
    padding: 30px;
    position: relative;
}
.tri-header img,.tri-footer img{
	/*position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);*/
}
input{font-size: 1.6em; text-align: center;}
input[type="text"],input[type="email"] {
    border: solid 1px red;
    margin: 20px auto 20px auto;
    padding: 10px;
    display: block;
    width: 267px;
    height: 2em;
    color: red;
}
input[type="submit"] {
    background-color: red;
    color: #fff;
    border: none;
    margin: 10px auto 10px auto;
    padding: 5px 0;
    width: 267px;
    height: 2em;
}
.red-back{background-color: red;color:#fff;}
.red-color{background-color: #fff;color:red;}
.border-red{
	border:solid 1px red;
}
.boxed{
	height: 80px;
	line-height: 80px;
    font-size: 20px;
    vertical-align: middle;
    position: relative;
}
.boxed > span{
	
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
	line-height: normal;
}
.opt{
	color:#fff;
	background-color: #000;
	height: 80px;
	line-height: 80px;
    vertical-align: middle;
	border:solid 1px #fff;
	cursor: pointer;
}
.opt.active{
	color:red;
	
}
.wait .opt.active{
	color:#fff;
	cursor: inherit;
}
.wait .opt{
	background-color: #dddddd;
}

#sndr{
	cursor: pointer;
}
.wait #sndr{
	background-color: #ffbdbd;
}
span.error {
    position: absolute;
    margin-top: -18px;
}
.qu{
	position: relative;
}
.q-container {
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.centered{text-align: center;}    
.lefted{text-align: left;}
.righted{
	text-align: right;
}
.unloged-login-container {
    height: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
}
.unloged-login-container .login-container{
    height: 50%;
    height: 50vh;
   	min-height: 280px;
}
.unloged-login-container .login-header,.unloged-login-container .login-footer{
	height: 25%;
	height: 25vh;
	min-height: 65px;
}
.unloged-login-container img {
    max-height: 100%;
    height: 64%;
}
a.takip {
    background-color: red;
    width: 80%;
    display: block;
    margin: auto;
    color: #fff;
    height: 40px;
    line-height: 40px;
}
table.finish {
    width: 100%;
    height: 100%;
}


@media (max-width:600px){
	/*
	.unloged-container, .loged-container{height: 100vh;width:100vw;
	position: unset;
	transform: translate(0%,0%);
    -ms-transform: translate(0%,0%);
    -webkit-transform: translate(0%,0%);
    -moz-transform: translate(0%,0%);
    -o-transform: translate(0%,0%);
	}
	.tri-header{
		position: fixed;
		left:0px;
		top: 0px;
		height: 142px;
	}
	.tri-footer{
		position: fixed;
		left:0px;
		bottom: 0px;
		height: 160px;
	}
	.tri-body{
		position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%,-50%);
	    -ms-transform: translate(-50%,-50%);
	    -webkit-transform: translate(-50%,-50%);
	    -moz-transform: translate(-50%,-50%);
	    -o-transform: translate(-50%,-50%);
	}
	*/
}
