config.php
araf.php    
.htaccess   
cron.php
*.csprj
*.clpprj
php.ini
*.log
*.lock
*.md
*.sql   
*.txt
*.yml
*.zip 
image/cache/*
image/catalog/*
image/data/*
image/resize/*
image/watermark/*
image/system/*
image/vendors/*
image/webp/*
image/webp/*
*X.*
cdn/backup/*
cdn/css/*
cdn/js/*
cdn/image/*
*.tpl
open/*.php  
local/* 
*.bak  
develope/*
