config.php
admn/config.php
eski_site_yedek/
*.log
image/cache/*
araf.php
.htaccess
cron.php
MADMIN25_clcs.csprj
MADMIN25.clpprj
php.ini
*.log
*.lock
*.md
*.sql
*.txt
*.yml
*.zip
*.bak
*.tpl
pdf/*
cdn/*
open/*
local/*
develope/*
image/cache/*
image/catalog/
desktop.ini

