config.php
admn/config.php
eski_site_yedek/
*.log
image/cache/*
araf.php
.htaccess
cron.php
MADMIN25_clcs.csprj
MADMIN25.clpprj
php.ini
*.log
*.lock
*.md
*.sql
*.txt
*.yml
!/.github/workflows/
!/.github/workflows/*.yml
.vscode/*
*.zip
*.bak
*.tpl
pdf/*
cdn/*
open/*
local/*
develope/*
admn/language/*
catalog/language/*
image/cache/*
image/catalog/*
desktop.ini
__MACOSX/
**/__MACOSX/
**/iyzipay-php_yedek/**

**/iyzipay-php/samples/
**/iyzipay-php/samples/**
**/.git/
**/.gitmodules
**/.gitattributes
system/storage/cache/
system/storage/logs/
system/storage/session/

vendor/
.DS_Store
Thumbs.db