/*Core*/
@import url('https://fonts.googleapis.com/css?family=Cantata+One');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Infant:300,400,500,600,700');
@keyframes scroll-out { 0% { top: 2px;}49% {top: 19px;}50% {top: -14px;}100% {top: 2px;}}
@keyframes scroll-in{0%{top:2px}49%{top:-14px}50%{top:19px}100%{top:2px}}
@keyframes lds-ripple { 0% { top: 28px;left: 28px;width: 0;height: 0;opacity: 1;} 100% {top: -1px;left: -1px; width: 58px;height: 58px; opacity: 0; }}
@keyframes up-down{0% {top: 0px;} 48% {top: 20px;}100% {top: 0px;}}
/* width */
::-webkit-scrollbar {width: 8px;}
::-webkit-scrollbar-track {background: #efefef; }
::-webkit-scrollbar-thumb {background: #dfdfdf;border-radius: 4px; }
::-webkit-scrollbar-thumb:hover {background: #aaa;}

*{outline: none;}
:root { --site-color: #000;--site-text-color: #666;}
html, body { font-size: 18px;color:#666; font-family: 'Cormorant Infant', serif;width: 100%;height: 100%; line-height: 1.4; }
input, :before, :after {box-sizing: border-box;}
h1, h2, h3, h4, h5, h6 { font-family: 'Cantata One', serif !important;color: #000 ;}
p {line-height: 1.4; }
a {text-decoration:none;}
a.name {font-size:30pt; text-transform: uppercase;}
a.top-links:hover::after {top: 50px !important;}
a.svg-link:hover::after { top: 31px; }
li {list-style: none;}
fieldset {margin: 47px 2px;}
fieldset.by-fieldset {width:80%;margin:auto;border:none;}
.checkout-checkout fieldset {margin: 0px 2px;}
.checkout-checkout #form-register fieldset{ margin-bottom:15px;}
[type="button"]:hover { background: #5c4842 !important;color: #fff !important;cursor:pointer;}
.by{display:inline-block;width:1px;}
.dView,.mView,.tView{margin:0;padding:0;}
input.invalid {border-bottom-color: red !important;}

.bbor{border-right: solid 1px #fff;border-bottom: solid 1px #fff;}
	.fRight {float: right;}

@media only screen 
  	and (orientation: portrait)
	and (-webkit-min-device-pixel-ratio: 2){
		.fRight{ float: left !important;}
	}
#social-addresses {padding-top: 0px !important;padding-bottom: 0px !important;}
#widget-newsletter {padding-bottom: 0px;}
.auto-height{height:auto;}
.invalid-feedback {color: red;font-weight: bolder;}
.bytao-home .layout {margin-top: 87px;}
#rev_slider > ul{padding:0;margin:0;}
.form-check.form-check-inline {
    display: inline-block;
    margin-right: 28px;
}
.d-none,.hidden{display:none !important;}
a:hover {color: unset;}
.cart-item button.btn.btn-danger {
    padding: 0;
    border-radius: 16px;
    height: 18px;
    line-height: 1;
}
.p12{padding:12px;}
span.close-btn {
    padding: 10px;
    line-height: 1em;
    height: auto;
    border: none;
    vertical-align: middle;
}
#checkout-payment.active{
  	position: fixed;
    width: 100%;
    top: 1px;
    left: 1px;
    background-color: rgb(255 255 255 / 79%);
    height: 100%;
  	z-index:1;
}

#checkout-payment.active #pay-it{
  	margin:auto;
		background-color:#fff;
  	width:350px;
  	height:524px;
  	margin-top: 80px;
  	margin-top: calc(50vh - 270px);
}

#pay-it button {width: 100%;}
#pay-it #btn-cancel {float: right;color: red;margin-top:-30px;cursor: pointer;}
#btn-cancel span {margin-right: 9px;}
#pay-it .buttons {margin-top: 15px;}
#regSubmiter .form-check {margin-bottom: 25px;}
#register-added-addresses .w3-padding {padding-top: 0px;margin-top: 0px;}
span.addr-same {text-align: right;font-size: 14px;}
#checkout-confirm {position: sticky;top: 20px;}
.wholetr td {position: relative;}
.opt-price {
    position: absolute;
    top: -1px;
    left: 5px;
    z-index: 1;
    color: red;
    font-size: 0.9em;
}
.wholesale input:not([type="submit"]):not([type="radio"]):not([type="checkbox"]), select, textarea { width: auto; }
.wholesale  .buttons {margin-bottom: 40px;}
.wholesale  #shipping-new .w3-input,.wholesale  #shipping-new .w3-select { width: 90% !important;}
.alert-dismissible .btn-close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    padding: 0;
    height: 27px;
    color: darkred;
    font-weight: bolder;
    font-size: 44px;
    line-height: 1;
    vertical-align: middle;
    background-color: transparent;
    width: auto;
    right: 2px;
    border-radius: 22px;
}
.alert-danger {
    background-color:transparent; border:none;
}
table.t-select {width: 100%;}
.w50{width:50%;}
.w25{width:25%;}
.address-item .w3-half {
    height: 100%;
}
.address-item .w3-half {
    position: relative;
}
 
.address-item .w3-half :before {
    content: "\f0d6";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: rgb(0 0 0 / 6%);
    font-size: 72px;
    padding-right: 0.5em;
    position: absolute;
    top: -17px;
    left: -12px;
}
.address-item .w3-half:nth-child(2):before {
  content: "\f06b";
}
.w3-right .w3-button {
    margin-right: 20px;
    margin-bottom: 30px;
}
.w3-left .w3-button {
    margin-left: 20px;
    margin-bottom: 30px;
}

.paypal-button {
    background: #0070ba!important;
    border-radius: 25px;
    padding: 5px 36px;
}
div#checkout-coupon {
    border-bottom: solid 1px #ddd;
}
div.notification {
    padding: 17px 20px 13px 20px;
    line-height: 1.5em;
    text-align: center;
    color: red;
    font-weight: bolder;
    border: solid 1px #efefef;
    margin-top: 15px;
  font-size: 16px;
}