/*Menu*/
.menu{}
button#button-shipping-methods,button#button-payment-methods {
    padding: 0px 14px;
    margin-top: 12px;
    line-height: 1;
    height: 35px;
}
span.input-group-text {
    margin-bottom: 10px;
}