
.product-list-container {
    position: relative;
    
}

.product-list-container .image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.product-list-container .content {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.25);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .3s ease;
}
.product-list-container:hover .overlay {
  height: 100%;
}
.product-list-container:hover .image {
  opacity: 0.4;
}

.btns {
	
}
.btn {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: white;
    padding: 6px 8px;
    font-size: 36px;
    cursor: pointer;
}

/* Darker background on mouse-over */
.btn:hover {
	color: #333;
   
}
.btn:focus {
    outline:none;
    
}
.price{
	
	font-size: 25px;
	line-height: 1em;
}
.price-old{
	color: red;
	text-decoration-line: line-through;
}
.price-new{
	color:white;
	font-weight: bolder;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 100px;
    font-size: 12px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 75%;
    left: 50%;
    margin-left: -40px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.itemprop{
	display: none;
}
