<div id="searchsection" class="nav-search w3-row w3-card-4 w3-grey" data-href="{{ url_search }}">
  <div class="w3-col w3-center w3-button " id="insearchbtn" style="width:70px;line-height: 95px;"><i class="w3-xxlarge fa fa-search"></i></div>
  <div class="w3-col w3-right w3-button w3-grey" id="closebtn"  style="width:50px;line-height: 95px;"><i class="w3-xxlarge fa fa-times"></i></div>
    <div class="w3-rest"  id="search">
      <input class="w3-input " data-lang="{{ language }}" name="search" id="searchinput" value="{{ search }}" type="text" style="outline: none;" placeholder="{{ text_search }}">
    </div>
    
</div>