<div class="editor-container">
	<div class="editor-head">
		<div class="pull-left"><i class="fa fa-move"></i></div>
		<div></div>
		<div class="pull-right"></div>
	</div>
	<div class="editor-body">
		<div class="row addRow">
                      	<a class="by_control row_add by_row-add" href="#" title="Add Row" data-vc-control="add"><i class="by_icon"></i></a>
                      	<!--Gelistirme  <a class="by_control row_add by_rows-preview" href="#" title="Preview"><i class="fa fa-newspaper-o"></i></a>-->
                      	<a class="by_control by_page-property" href="#" title="Properties"><i class="fa fa-newspaper-o"></i></a>
                      </div>
                      <ul class="text-editor rows active">
                      </ul>
		
	</div>
	<div class="editor-foot"></div>
</div>
