

.cboxElement {text-decoration: none; border: none;}
.cboxElement a:active, .cboxElement a:hover,.cboxElement a:active,.cboxElement a:visited,.cboxElement a:focus   {
    outline-width: 0;
}
.cboxElement > div{
	margin-top:20px;
	text-transform: uppercase;
    text-decoration: none !important;
    min-height: 30px;
    line-height: 1em;
    font-size: .9em;
}

@media screen and (max-width: 700px) {
	#cboxLoadedContent .post{
		padding-left: 10px;
		padding-right: 10px;
	}
}
@media screen and (max-width: 1024px) {
	#cboxLoadedContent .post{
		padding-left: 20px;
		padding-right: 20px;
	}
}
@media screen and (min-width: 1025px) {
	#cboxLoadedContent .post{
		padding-left: 30px;
		padding-right: 30px;
	}
}
