<a href="{{ apply }}" data-bs-toggle="tooltip" title="{{ button_apply }}" class="btn btn-success"><i class="fa-solid fa-retweet"></i></a>
<a href="{{ reset }}" data-bs-toggle="tooltip" title="{{ button_reset }}" class="btn btn-danger"><i class="fa-solid fa-arrow-rotate-right"></i></a>