/*Core*/
@import url('https://fonts.googleapis.com/css?family=Thasadith:400,400i,700,700i&display=swap&subset=latin-ext');
@keyframes fadeInRight{0%{opacity:0;transform:translateX(20px)}100%{opacity:1;transform:translateX(0)}}
@keyframes fadeOutRight{0%{opacity:1;transform:translateX(0)}100%{opacity:0;transform:translateX(20px)}}
#page-content{position:absolute;}
h1, h2, h3, h4, h5, h6 {font-family: 'Thasadith', sans-serif;font-weight: 400;margin: 10px 0;}
li{list-style: none;}
img.w3-image {background: url(CDNROUTEimage/loader.gif) no-repeat scroll center center transparent;}
hr {border-top: 3px solid #eee;}
a{color: #333;text-decoration:none;}
body,html{font-family: 'Thasadith', sans-serif;font-size:15px;}

.mleft20{margin-left:20px;}
.pcol img {width: 100%;height: auto;}
button.btn-wishlist {border: none;background-color: transparent;font-size: 21px; padding: 10px 10px;}
span.price-sale {
    position: absolute;
    z-index: 1;
    padding: 7px;
    left: 1px;
    top: 3px;
    border: solid 1px red;
    color: red;
    font-weight: 500;
}
div#cart {
    padding: 20px 5px;
}
button.btn-danger {
    border: solid 1px red;
    background-color: transparent;
    border-radius: 40px;
    padding: 2px;
    line-height: 1em;
    position: absolute;
    top: 10px;
}
.cart-remove-btn{position:relative;width:100%;height:100%;}
.text-middle{vertical-align:middle !important;}
.text-top{vertical-align:top !important;}
.text-bottom{vertical-align:bottom !important;}
#cart td {
    background-color: transparent;
    border-bottom: solid 1px #efefef;
  	border-top: none;
  	padding-bottom: 20px;
}
.invalid-feedback {
    color: red;
    font-weight: 700;
    font-size: 1em;
}
#input-shipping-method,#input-payment-method {
    width: calc(100% - 110px);
    display: inline-block;
    height: 39px;
}
.d-none{display:none;}
#modal-shipping,#modal-payment {
  z-index: 99999;
  background-color: rgb(239 239 239 / 67%);
}
.modal-dialog-centered{
   top: calc(50vh - 147px);
}
.modal-title {
    margin: 0;
    line-height: 1.428571429;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 1.4em;
}
.btn-shea {
    height: 38px;
    padding: 10px 20px;
    line-height: 1em;
    vertical-align: middle;
      font-weight: 600;
}
form#form-shipping-method {
    padding-bottom: 40px;
}
.modal-header{position:relative;}
.modal-header button.w3-btn {
    position: absolute;
    right: 10px;
    top: 10px;
}
footer#footer {
    margin-top: 80px;
}
button.qty-up,button.qty-down {
    font-size: 33px !important;
    padding: 0 5px;
    height: 42px;
    line-height: 40px;
}
.img-thumbnail {min-width:80px;}
.is-invalid{animation: fading 3s 1;color:red;}
#checkout-checkout #content { margin-top: 180px;}
.shop-type{margin-bottom:30px;}
#checkout-checkout #content .w3-half.mb-3 {padding: 6px;}
#shopping-cart .wrapper {position:relative;width:80px;display: inline-block;}
#shopping-cart .btn-submit{display: inline-block; margin: 0 5px;}
#shopping-cart .wrapper .w3-left { position: absolute;left: 1px;top: 1px; height: 41px;}
#shopping-cart .wrapper .w3-right { position: absolute;right: 1px;top: 1px; height: 41px;}
#shopping-cart .wrapper #quantity {text-align: center;}
#shopping-cart  td.tdqty {width: 180px;}
#checkout-checkout span.addr-same {display: block;text-align: right;}
#checkout-checkout .item-buttons path {fill: #ccc;}
#checkout-confirm {position: sticky;top: 100px;}
.alert.alert-success.alert-dismissible {
    border-radius: 0px;
    border: none;
    background-color: #dff0d833;
    color: #222;
    font-weight: 600;
}
.radio.form-check-inline {display: inline-block; margin-left:15px;}
.address-item.active {background-color: #efefef;}
input[type=radio]:checked + label {border-bottom: 1px solid black;border-right: 1px solid black; padding: 7px;}
.l-p-c-m {padding-top: 20px;}
.linkcol li {height: 35px;}
.footer-h2 {margin: 0;}
textarea.w3-input {background-color: rgb(239 239 239 / 32%);}
.same-addr {margin-top: 40px;}
input#button-pay {
    width: 100%;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: larger;
}
span.addr-name {display: block;}
.address-item {position: relative;height:80px;}
.item-buttons {
    position: absolute;
    top: 3px;
    right: 3px;
}
i.fa.fa-paypal {
    font-size: 26px;
}
button.accordion-button.collapsed {
    font-size: .7em;
    border: none;
    background-color: transparent;
}
button.accordion-button:hover{
      text-decoration: underline;
}
.product-product .description-box {
    padding: 40px 0;
}
.paypal-button {
    background: #0070ba!important;
    border-radius: 25px;
    padding: 5px 36px;
}
div#checkout-coupon {
    border-bottom: solid 1px #ddd;
}
div.notification {
    padding: 17px 20px 13px 20px;
    line-height: 1.5em;
    text-align: center;
    color: darkgreen;
    font-weight: bolder;
    border: solid 1px #efefef;
    margin-top: 15px;
}