.menu {background: #FFFFFF; height: 4rem;}
.menu ol {list-style-type: none;margin: 0 auto; padding: 0;}
.menu > ol {max-width: 1000px; padding: 0 2rem; display: flex;}
.menu > ol > .menu-item {flex: 1;padding: 0.75rem 0;}
.menu > ol > .menu-item:nth-child(1) {border-right: solid 1px #ccc;}
.menu > ol > .menu-item:after {content: "";position: absolute;width: 4px;height: 4px;border-radius: 50%;bottom: 5px;left: calc(50% - 2px);background: #333333; will-change: transform; transform: scale(0); transition: transform 0.2s ease;}
.menu > ol > .menu-item:hover:after {transform: scale(1);}
.menu-item {position: relative;line-height: 2.5rem;text-align: center;}
.mobile .menu-item{position:inherit;text-align:left; overflow:hidden;}
.mobile .menu-item.clicked ol{position:inherit;transform:none;}
.menu-item a {overflow: hidden;white-space: nowrap;text-overflow: ellipsis; display: block;color: #333;}
.sub-menu .menu-item {padding: 0.75rem 0;background: #FFFFFF;opacity: 0; transform-origin: bottom; animation: enter 0.2s ease forwards;}
.sub-menu .menu-item:nth-child(1) {animation-duration: 0.2s;animation-delay: 0s;}
.sub-menu .menu-item:nth-child(2) {animation-duration: 0.3s;animation-delay: 0.1s;}
.sub-menu .menu-item:nth-child(3) {animation-duration: 0.4s;animation-delay: 0.2s;}
.sub-menu .menu-item:hover {background: #DEDEDE;}
.sub-menu .menu-item a {padding: 0 0.75rem;}

.top-item.active_parent {background-color: #f0f1f6;}
.top-item {width: 200px;}
.top-item:last-child ul {right: 0;}
.top-item.clicked > .qua_top_menu{ display:block;border-top:solid 1px #ccc;}
.qua_top_menu {display:none;}
.qua_top_menu ul {padding: 0;text-align: center;}
.qua_top_menu ul a:hover {text-decoration: none;color: #333;}
.qua_top_menu ul ul {padding: 0;background: none;margin-bottom: 20px;}
.qua_top_menu ul ul:last-child {margin-bottom: 0;}
.qua_top_menu ul a {color: #333;height: auto;}
.qua_top_menu ul li:hover  > a {color: #000;}
.qua_top_menu ul li:hover  > a:before {display: none;}
.scrolled .qua_top_menu li:hover  > a:before {top: 38px;	}
.scrolled .menu-container{padding-bottom: 0px;}
.qua_top_menu ul li.sub:hover {background-color: #dedede;}
.qua_top_menu a.active {font-weight: 600;}
.menu-item.active_up {font-weight: 600;/*background-color: rgb(240 241 246 / 46%) !important;*/ }

#side-mn {overflow-x: hidden;}
#side-mn .top-item,#side-mn .top-item.active_parent {background-color:#fff;}
#side-mn .menu-item {text-align: left;}
#side-mn .menu-item a {text-decoration: none;}

#side-mn .top-item.clicked > .sub-menu { display:block;border-top:solid 1px #ccc;}
#side-mn .top-item.clicked > .sub-menu,#side-mn .active_parent > .sub-menu{position: unset;transform: none;display:block;border-top:solid 1px #ccc;}
#side-mn .active_parent > .sub-menu .active{font-weight:bolder;}

#side-mn .menu-item{ position:inherit; text-align:left; overflow:hidden;}
#side-mn .menu-item.clicked ol{ position:inherit; transform:none;}
#side-mn .sub-menu { position: absolute; width: 100%; top: 100%; left: 0; display: none; z-index: 1;}

#top-mn .sub-menu { position: unset; width: 100%; top: 100%; left: 0; display: none; z-index: 1;}
#top-mn .menu-item:hover > .sub-menu {display: block;}

@media screen and (max-width: 600px) {
  	.sub-menu { width: 100vw;left: -2rem; top: 50%; transform: translateY(-50%);}
  	.sub-menu .menu-item {background: #FFF; padding: 0.25rem 0;}
    .mobile .menu-item ol{position:inherit;transform:none;display:block;}
  	#search {margin: 19px 0;}
  	.menu {position: relative;}
  	.menu:after {content: "";position: absolute;top: calc(50% - 2px);right: 1rem;width: 30px;height: 4px;background: #FFF;box-shadow: 0 10px #FFF, 0 -10px #FFF;}
  	.menu > ol {display: none;background: #EFEFEF;flex-direction: column;justify-content: center; height: 100vh;animation: fade 0.2s ease-out;margin: 0;}
  	.menu > ol > .menu-item {flex: 0; opacity: 0;animation: enter 0.3s ease-out forwards;}
    .menu > ol > .menu-item:nth-child(1) {animation-delay: 0s;}
    .menu > ol > .menu-item:nth-child(2) {animation-delay: 0.1s;}
    .menu > ol > .menu-item:nth-child(3) {animation-delay: 0.2s;}
    .menu > ol > .menu-item:nth-child(4) {animation-delay: 0.3s;}
    .menu > ol > .menu-item:nth-child(5) {animation-delay: 0.4s;}
    .menu > ol > .menu-item + .menu-item {margin-top: 0.75rem;}
  	.menu > ol > .menu-item:after {left: auto; right: 1rem;bottom: calc(50% - 2px);}
    #top-mn .menu > ol > .menu-item:hover {z-index: 1;}
    #top-mn .menu:hover > ol {display: flex;}
    #top-mn .menu:hover:after {box-shadow: none;}
}


@keyframes enter {
  from {
    opacity: 0;
    transform: scaleY(0.98) translateY(10px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}