.modal-header .the-day {
    padding: calc(var(--bs-modal-header-padding-y)* .5) calc(var(--bs-modal-header-padding-x)* .5);
    margin: calc(-.5* var(--bs-modal-header-padding-y)) calc(-.5* var(--bs-modal-header-padding-x)) calc(-.5* var(--bs-modal-header-padding-y)) auto;
}
.ui-timepicker-container {
    z-index: 1060 !important;
}
i.btn-success.fa-circle-left {
    font-size: 25px;
}
h4.the-day {
    font-weight: 700;
    font-size: 17px;
    color: dodgerblue;
}
.container-date
{
	position: relative;
}
.container-date > a
{
	position: absolute;
	top: 6px;
	font-size: 30px;
	color: #555 !important;
}
.container-date > .btn-right
{
	right: 20px;
}
.container-date > .btn-left
{
	left: 20px;
}
.day_num.today
{
	background-color: antiquewhite;
}
.today .day-container > span
{
	border: solid 1px #333;
	padding: 0px;
	border-radius: 15px;
	text-align: center;
	padding: 4px 5px;
	background-color: #333;
	color: #fff;
}
.day-container ul,ul#appoints
{
	list-style: none;
	padding: 0;
	margin: 0;
	min-height: 100px;
}
ul#appoints li{
	width:120px; 
	display: inline-block;
	font-weight: bolder;
}
ul#appoints li i.fa-square-minus:hover {
    text-shadow: 2px 2px 2px #ceb2a9;
}
ul#appoints li i.fa-square-minus {
    font-size: 18px;
    float: right;
    cursor: pointer;
}

.day-container ul li,ul#appoints li
{
	margin: 3px;
	padding: 3px;
	min-height: 23px;
	border: solid 1px #dedede;
}
.day-container ul li.appointed
{
	background-color: #efefef;
}
.day-container
{
	position: relative;
}
.day-container > span
{
	position: absolute;
}
.right-click-menu
{
	display: none;
	z-index: 1000;
	position: absolute;
	overflow: hidden;
	border: 1px solid #CCC;
	white-space: nowrap;
	font-family: sans-serif;
	background: #FFF;
	color: #333;
	border-radius: 5px;
	padding: 0;
}

/* Each of the items in the list */
.right-click-menu li
{
	padding: 8px 12px;
	cursor: pointer;
	list-style-type: none;
	transition: all .3s ease;
	user-select: none;
}

.right-click-menu li:hover
{
	background-color: #DEF;
}
ul.appoint.ignored
{
	opacity: .4;
}
.calendar
{
	display: flex;
	flex-flow: column;
}
.calendar .header .month-year
{
	font-size: 20px;
	font-weight: bold;
	color: #636e73;
	padding: 20px 0;
}
.calendar .days
{
	display: flex;
	flex-flow: wrap;
}
.calendar .weak
{
	display: flex;
	flex-flow: wrap;
	width: 100%;
}
.calendar .days .day_name
{
	width: calc(100% / 7);
	border-right: 1px solid #2c7aca;
	padding: 20px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	color: #818589;
	color: #fff;
	background-color: #448cd6;
}
.calendar .days .day_name:nth-child(7)
{
	border: none;
}

.calendar .days .day_num {
    display: flex;
    flex-flow: column;
    width: calc(100% / 7);
    border-right: 1px solid #e6e9ea;
    border-bottom: 1px solid #e6e9ea;
    padding: 22px;
    font-weight: bold;
    color: #7c878d;
    cursor: pointer;
    min-height: 120px;
    overflow-y: auto;
    overflow-x: hidden;
}
.calendar .days .day_num span
{
	display: inline-flex;
	width: 30px;
	font-size: 14px;
	left: -22px;
	top: -19px;
}

.calendar .days .day_num .event
{
	margin-top: 10px;
	font-weight: 500;
	font-size: 14px;
	padding: 3px 6px;
	border-radius: 4px;
	background-color: #f7c30d;
	color: #fff;
	word-wrap: break-word;
}
.calendar .days .day_num .event.green
{
	background-color: #51ce57;
}
.calendar .days .day_num .event.blue
{
	background-color: #518fce;
}
.calendar .days .day_num .event.red
{
	background-color: #ce5151;
}
.calendar .days .day_num:nth-child(7n+1)
{
	border-left: 1px solid #e6e9ea;
}
.calendar .days .day_num:hover
{
	background-color: #fdfdfd;
}
.calendar .days .day_num.ignore
{
	background-color: #fdfdfd;
	color: #ced2d4;
	cursor: inherit;
}
.calendar .days .day_num.selected
{
	background-color: #f1f2f3;
	cursor: inherit;
}
#theDayAppointments > ul > li {
    min-height: 50px;
    border: solid 1px #ccc;
    margin-bottom: 4px;
}
#theDayAppointments ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
