#sortDiv{
	
}
.sortDiv{
	
}
#sortable { list-style-type: none; margin: 0; padding: 0; }
#sortable li {list-style-type: none;background-color: #fff;}
#sortable li .editItem{margin-right:4px; cursor: default;float: right;}
#sortable li .check{margin-right:4px;margin-left:4px;}
#sortable li .editItem:hover a{color: blue;}
.sortable-results .carry{cursor: move;}
.portlet-header .carry {margin-right: 2px;font-size:18px;color: #ccc;}
.sortable-results .carry:hover{color:#333;}
.portlet-header {position: relative; }
.portlet-toggle {position: absolute;top: 50%;left: 3px; margin-top: -8px; cursor: default !important;}
.portlet-content { }
.portlet-placeholder { border: 1px dotted black; margin: 0 1em 1em 0;  height: 200px; width: 180px; }
.blue{color:blue;}
.red{color:red;}
